<div class="tombstone_container">
<% @options.each do |option| %>
<div class="tombstone">
	<h2 class="title"><%= option.title %></h2>
	<dl class="dl-horizontal">
	  <dt><strong>Price:</strong></dt>
	  <dd><%= number_to_currency(option.price, :precision => 5) %></dd>
	  <dt><strong>Strike:</strong></dt>
	  <dd><%= number_to_currency(option.strike, :precision => 5) %></dd>
	  <dt><strong>Expected term:</strong></dt>
	  <dd><%= option.term %> years</dd>
	  <dt><strong>Volatility:</strong></dt>
	  <dd><%= number_to_percentage(option.volatility, :precision => 5) %></dd>
	  <dt><strong>Dividend yield:</strong></dt>
	  <dd><%= number_to_percentage(option.dividend, :precision => 5) %></dd>
	  <dt><strong>Risk-free rate:</strong></dt>
	  <dd><%= number_to_percentage(option.riskfree, :precision => 5) %></dd>
	  <dt><strong>Fair value</strong></dt>
	  <dd><%= number_to_currency(option.black_scholes, :precision => 5) %></dd>
	</dl>
	<div class="pull-right">
		<%= link_to edit_option_path(option), :title => "Edit" do %>
			<i class="icon icon-edit"></i>
		<% end %> | 
		<%= link_to option_path(option), :method => :delete, :title => "trash", :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) do %>
			<i class="icon icon-trash"></i>
		<% end %>
	</div><!-- .pull-right -->

</div>
<% end %>
</div>
